@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: block;
  background-color: black;
  background-image: url("images/basement.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.row1 {
  height: 50%;
  width: 100%;
  display: flex;
}
.rect {
  height: 100%;
  width: 75%;
  display: flex;
}
.rect2 {
  height: 100%;
  width: 25%;
  display: flex;
}
.box {
  height: 100%;
  width: 25%;
}
.box1 {
  height: 100%;
  width: 25%;
  display: flex;
}
.blue-div {
  height: 100%;
  width: 50%;
  display: block;
}
.orange-div {
  height: 50%;
  width: 100%;
}
.column {
  height: 100%;
  width: calc(100% / 3);
}
.column2 {
  height: 100%;
  width: 50%;
}
.column3 {
  height: calc(100% / 3);
  width: 100%;
}
h1 {
  font-family: "Creepster";
  font-weight: 200;
  font-style: normal;
  font-size: 4;
  text-align: center;
  color: white;
  text-decoration: none;
}

.contain-notes {
  max-height: 20%;
  max-width: 20%;
}
.contain-chest {
  max-height: 70%;
  max-width: 70%;
}
.contain-Lightbulb {
  height: 100%;
  width: 100%;
}
.lock {
  position: relative;
  top: -16%;
  left: -4%;
}

.fade {
  opacity: 0.4;
}
.cursor {
  cursor: url("images/TheeKey.png"), auto;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.clickable2 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
  transition: transform 0.4s ease;
}
.clickable2:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px 5px white;
}
.clickable2:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
  transition: transform 0.4s ease;
}
.non_clickable {
  pointer-events: none;
}
.dark {
  filter: brightness(0.7);
}
.clickable3:hover {
  transform: scale(1.04);
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px 5px white;
}
.clickable3:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
  transition: transform 0.4s ease;
}
/* Modal Body */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;
  width: 100%;
  height: 100%;
}

.modal2 {
  display: flex;
  position: fixed;
  top: 200px;
  left: 30px;
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* Don't cover the entire screen */
.modal-bodydef {
  display: flex;
  width: 80%;
  height: 70%;
  opacity: 1;
  margin: 0;
}

.modal-body {
  display: flex;
  width: 80%;
  height: 70%;
  background-image: url("images/chestlocked.jpg");
  background-size: 100% 100%;
  opacity: 1;
  margin: 0;
}

.chestopened {
  display: flex;
  width: 80%;
  height: 70%;
  background-image: url("images/Old_riddle_card__1.png");
  background-size: 100% 100%;
  opacity: 1;
  margin: 0;
}

.modalrow1 {
  height: 75%;
  width: 100%;
}
.modalrow2 {
  height: 25%;
  width: 100%;
}
/* The Close Button */
.close {
  color: white;
  position: fixed;
  top: 32%;
  right: 28%;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: white;
  position: fixed;
  top: 14%;
  right: 11%;
  font-size: 50px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.byebye {
  opacity: 0;
}

.animated-box {
  max-height: 20%;
  max-width: 20%;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-once {
  animation: slide-and-fade 3s forwards; /* <-- "forwards" keeps final state */
}

@keyframes slide-and-fade {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 50px;
    opacity: 0; /* stays faded */
  }
}

.popin {
  animation: pop 2s ease forwards;
  opacity: 0;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* colors to see divs */
.lightgreen {
  background-color: lightgreen;
}
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.gold {
  background-color: #d3a047;
}
.yellow {
  background-color: #ffeca7;
}
.black {
  background-color: #000000;
}
.slate {
  background-color: #1e171f;
}
.dark-grey {
  background-color: #303131;
}
.light-grey {
  background-color: #606060;
}
.pink {
  background-color: #ffc0cb;
}
